<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mapper.BrandMapper">

    <resultMap id="brandResultMap" type="brand">
        <result column="brand_name" property="brandName"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

    <select id="selectAll" resultMap="brandResultMap">
           /*select * from tb_brand;*/
           select *
           from tb_brand;

    </select>
    <select id="selectById" resultMap="brandResultMap">
        select *
        from tb_brand where id = #{id};

    </select>

   <!-- <select id="selectByCondition" resultMap="brandResultMap"> select *
                                                               from tb_brand
                                                               where status = #{status}
                                                                 and company_name like concat("%", #{companyName},"%")
                                                                 and brand_name like concat("%",#{brandName},"%")
                                                                 </select>-->
<!--
动态查询-->
    <select id="selectByCondition" resultMap="brandResultMap">
        select *
        from tb_brand
        <where>
        <if test="status != null">
            status = #{status}
        </if>
        <if test="companyName != null and companyName != '' ">
            and company_name like concat("%", #{companyName},"%")
        </if>

        <if test="brandName != null and brandName != '' ">
            and brand_name like concat("%",#{brandName},"%")
        </if>
        </where>
    </select>

</mapper>
    